# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.DS_Store

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.tox/
tox.ini
.coverage
.cache
nosetests.xml
coverage.xml
.pytest_cache/

# Pycharm.
**/.idea/

# Jupyter.
**/.ipynb_checkpoints/
tox.ini
